<footer class="footer">
    <ul class="footer__list">
        <li class="footer__item footer__item--tel footer__item--20">
            <a href="tel: +380963869191">0963869191</a>
        </li>
        <!--/footer__item-->
        <li class="footer__item footer__item--facebook footer__item--30">
            <a href="https://www.facebook.com/cid.net.ua/">facebook.com/cid.net.ua</a>
        </li>
        <!--/footer__item-->
        <li class="footer__item footer__item--insta footer__item--30">
            <a href="https://www.instagram.com/cid.net.ua/">instagram.com/cid.net.ua</a>
        </li>
        <!--/footer__item-->
        <li class="footer__item footer__item--telegram footer__item--20">
            <a href="https://t.me/cidnetua">t.me/cidnetua</a>
        </li>
        <!--/footer__item-->
    </ul>
</footer>
